.parking-icon {
  font-size: 10px;
}

.parking-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  font-size: 12;
  z-index: 6;
}
