.car-container {
  position: relative;
  display: inline-block;
  z-index: 10;
}

/* Speech bubble */
.bubble {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 20px;
  color: #2e2d75;
  border: 2px solid #ddd;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  z-index: 100;
}

/* Bubble arrow */
.bubble::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 18px solid white;
  z-index: 100;
}

.car-image {
  width: 50px;
  transform: translateY(50%);
  position: relative;
  z-index: 50;
}