gmp-map{
    height: calc(100vh - 70px); 
    width: 100vw;
}

.current-location-marker {
  position: relative;
  width: 20px;
  height: 20px;
}

.current-location-marker .dot {
  width: 12px;
  height: 12px;
  background: #1a73e8;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 2;
}

.current-location-marker .pulse {
  width: 20px;
  height: 20px;
  background: rgba(26, 115, 232, 0.3);
  border-radius: 50%;
  position: absolute;
  animation: pulse 1.5s infinite;
}

.pan-to-user-button{
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.pan-to-car-button{
  position: absolute;
  right: 50px;
  bottom: 80px;
}

.location-button{
  background-color: rgb(42, 42, 87);
  color: white;
  width: 150px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.location-button:hover{
  background-color: rgb(71, 71, 133);
  transition: background-color 0.3s ease;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}